{% extends '::base.html.twig' %}
  {%block title%} 
   EditProfile
   {{parent()}}
  {%endblock%}

  {%block body%}

  

  <div class="container">

    <div class="row row-offcanvas row-offcanvas-right">


      <p class="pull-right visible-xs">
        <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Sidebar</button>
      </p>


      <div id="frontpage">

       <div id="edit-profile">         
            <img src="https://graph.facebook.com/{{ id }}/picture?type=large&width=720&height=720" class="resize-profile-img"/>
            <br>
             <p class="strike"/> {{ name }} </p>
       </div>


       <div id="edit-content">
        <form action="{{path('edit_profile_page_update')}}" method="post" class="form-inline" role="form">
          <div class="form-group">
           <label for="birthday">Birthday</label>
            <input type="text" name="birthday" class="form-control" id="edit-birthday" value={{birthday}}>
             
          </div>
          <br></br>
          <div class="form-group">
             <label for="town">City</label>
            <input type="text" name="city" class="form-control" id="edit-city" value={{city}}>
           
          </div>
          <br></br>
          <div class="form-group">
           <label for="birthday">Gender</label>
            <input type="text" name="gender" class="form-control" id="edit-gender" value={{gender}}>
             
          </div>
          <br></br>
          <div class="form-group">
            <label for="birthday">Website</label>
            <input type="text" name="website" class="form-control" id="edit-website" value={{website}}>
            
          </div>
          <br></br>
          <div class="strike">
          <span>Social Network</span>
          </div>


          <br></br>
         
          <div class="form-group">
            <label for="town">Facebook</label>
            <a href="{{path('facebook_login_controller')}}" id="edit-facebook">
                <img src="{{ asset('bundles/digix/images/facebook.png') }}"/>
            </a>
            
          </div>

          <br></br>
          <div class="form-group">
            <label for="town">Twitter</label>
            <a href="{{path('twitter_login_controller')}}" id="edit-twitter">
                <img src="{{ asset('bundles/digix/images/twitter.png') }}"/>
            </a>
            
          </div>

          <br></br>
          <div class="form-group">
            <label for="town">Google Plus</label>
            <a href="{{path('google_login_controller')}}" id="edit-googlePlus">
                  <img src="{{ asset('bundles/digix/images/google.png') }}"/>
            </a>
          </div>

          <br></br>
          <div class="form-group">
            <label for="town">Instagram</label>
            <a href="#" id="edit-instagram">
                    <img src="{{ asset('bundles/digix/images/instagram.png') }}"/>
            </a>
          </div>

          <br></br>
          <div class="form-group">
            <label for="town">Youtube</label>
            <a href="{{path('youtube_login_controller')}}" id="edit-tumblr">
                  <img src="{{ asset('bundles/digix/images/tumblr.png') }}"/>
            </a>
            
          </div>

          <br></br>
          <button type="submit" class="btn btn-default" id="edit-button">Save</button>
        </form>
      </div>


     </div><!--/row-->

     <hr>

     <footer>
      <p>&copy; DiGix Team 2015</p>
    </footer>

  </div><!--/.container-->
{%endblock%}
