   <h4 class="top10">{{ name }}</h4>
    <div class="profile">

   </div>

   <div class="info-profile">
     <ul class="fa-ul">
      <li><i class="fa-li fa fa-home"></i>{{ city }}</li>
      <li><i class="fa-li fa fa-birthday-cake"></i>{{ birthday }}</li>
      <li><i class="fa-li fa fa-male"></i>{{ gender }}</li>
      <li><i class="fa-li fa fa-rss"></i>{{ website }}</li>
      <li><i class="fa-li fa fa-edit"></i><a href="{{path('edit_profile_page')}}">Edit profile</a></li>
      <li><i class="fa-li fa fa-chevron-right"></i><a href="{{path('digix_logout')}}">Logout</a></li>
    </ul>
  </div>
